__pycache__/
.pytest_cache/
uvicorn.log
.env
node_modules/
node_modules/
package.json
package-lock.json

# Obsidian
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
